@import "tailwindcss";

@theme {
  --color-brand: #3b82f6;
  --font-display: "Satoshi", "sans-serif";
}

@plugin 'tailwind-scrollbar';

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px) rotate(-2deg);
  }
  40% {
    transform: translateX(10px) rotate(2deg);
  }
  60% {
    transform: translateX(-10px) rotate(-2deg);
  }
  80% {
    transform: translateX(10px) rotate(2deg);
  }
}

.animate-shake {
  animation: shake 0.4s ease-in-out;
}
